# MongoDB Connection String (e.g., mongodb+srv://<user>:<password>@cluster.mongodb.net/database)
# Localhost will not work in the preview environment.
MONGODB_URI=
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here
